.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  margin: 0;
  background-color: rgb(211, 231, 254);
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 6rem);
}
